#nanavcontainer {
    display: flex;
    justify-content: space-between;
    background: #18181800;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    font-size: 1.1rem;
    font-weight: bold;
    /* outline: 1px solid red; */
  }
  
body{
    font-size: 1.6rem;
    background: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg?download=true") ;
    background-size: cover;
    background-position: center;
   
   ;
    
  }
  
 
  h1 {
    color: hwb(0 76% 24%); /* Cambia el color del texto a amarillo */
    font-size: 6em; /* Aumenta el tamaño de la fuente (ajusta el valor según tus preferencias) */
    text-shadow: 10px 3px 2px black; /* Agrega una sombra negra con desplazamiento de 2px en X y 2px en Y */
}

h5{
    color:hwb(0 76% 24%) ;
    font-weight: bold;
    font-size: 1.5em; 
    text-shadow: hwb(0 76% 24%);
}

h4{
    color: hwb(0 76% 24%); /* Cambia el color del texto a amarillo */
    font-size: 2em; /* Aumenta el tamaño de la fuente (ajusta el valor según tus preferencias) */
    text-shadow: hwb(0 76% 24%);

}
th
{
    color:hwb(0 76% 24%);
    font-weight: bold;
    font-size: 1.5em; 
    text-shadow: hwb(0 76% 24%);
}
.card{
    border-color: hwb(0 76% 24%);
    border-width: 2px;
    background-color: rgba(14, 35, 45, 0.94); 
}
p{
    color:hwb(0 76% 24%);
}
.imgcharacter{
    border-color: hwb(0 76% 24%);
    border-style:dashed;
    border-width: 7px;
    background-color: rgba(14, 35, 45, 0.94); 

}


.caja{

    background: red;
}
